
body{
	background-color: rgb(201, 206, 211);
	min-height: 100vh;
	position: relative;
	margin: 0;
	padding-bottom: 100px; 
	box-sizing: border-box;
	
}
.navbar-dark.bg-dark{
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	width:70%;
	text-align: center;
}
p{
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding-top: 4%;
	font-size: 150%;
}
.subfooter{
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	width:70%;
	text-align: center;
	bottom: 0;
	height: 100px;
}
th:tr{
	color: blue;

}
tr:nth-of-type(2n){
	border: 1px solid black;
	background-color: rgba(150, 150, 150, 0.5);

}

td{
	padding: 8px 8px;
	border: 1px solid black;
}
.him{
	margin-left:  15%;	
}


.tv{
	float: left;
	position: relative;
	width: 90px;
	height: 50px;
	margin-top: 80px;
	margin-left: 1%;
	background: rgb(78, 62, 109);
	border-radius: 50% / 10%;
	color: rgb(226, 204, 204);
	text-align: center;
	text-indent: .1em;
 }
 .hon{
	 text-align: center;
 }

 .add{
	 float: left;
	margin-left: 5.5%;
	margin-top: 0%;
	width: 5%;
	}
 .cost{
	 text-decoration: solid;
	} 

 table{
	 float: left;
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	width:20%;
	text-align: center;
	margin-top: 13%;
	}
	button{
		float: left;
	   position: absolute;
	   left: 50%;
	   transform: translatex(-50%);
	   width:20%;
	   text-align: center;
	   margin-top: 10%;
	   }


 